{{- if eq .chezmoi.os "darwin" }}
FZF_PATH=/opt/homebrew
{{- else if eq .chezmoi.os "linux" }}
FZF_PATH=/home/linuxbrew/.linuxbrew
{{- end }}

# Setup fzf
# ---------
if [[ ! "$PATH" == *${FZF_PATH}/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}${FZF_PATH}/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "${FZF_PATH}/opt/fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "${FZF_PATH}/opt/fzf/shell/key-bindings.zsh"

